# Etapas

- Importação da Base de Dados
- Tratamento dos Dados
- Cálculos
- Envio dos e-mails

### Importação da Base de Dados

In [10]:
import pandas as pd
df_vendas = pd.read_excel('vendas.xlsx')

In [11]:
df_vendas.head(5)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

## Tratamento dos Dados

In [12]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100999 entries, 0 to 100998
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Código Venda    100999 non-null  int64
 1   Data            100999 non-null  datetime64[ns]
 2   ID Loja         100999 non-null  object
 3   Produto         100999 non-null  object
 4   Quantidade      100999 non-null  int64
 5   Valor Unitário  100999 non-null  int64
 6   Valor Final     100999 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 5.4+ MB

##### Removendo Colunas Desnecessárias e Renomeando

In [13]:
nomes_colunas = {
    'Código Venda':'ID_VENDA',
    'Data':'DATA',
    'ID Loja':'ID_LOJA',
    'Produto':'PRODUTO',
    'Quantidade':'QTDE',
    'Valor Unitário':'VLR_UNIT',
    'Valor Final':'VLR_FINAL'
}
df_vendas.rename(columns=nomes_colunas, inplace=True)
df_vendas.drop(columns=['DATA', 'ID_VENDA'], inplace=True)
df_vendas.head(5)

              ID_LOJA         PRODUTO  QTDE  VLR_UNIT  VLR_FINAL
0  Iguatemi Esplanada  Sapato Estampa     1       358        358
1  Iguatemi Esplanada        Camiseta     2       180        360
2  Iguatemi Esplanada   Sapato Xadrez     1       368        368
3      Norte Shopping         Relógio     3       200        600
4      Norte Shopping    Chinelo Liso     1        71         71

## Cálculos

##### Faturamento por Loja

In [38]:
faturamento_lojas = df_vendas[['ID_LOJA', 'VLR_FINAL']].groupby('ID_LOJA').sum()
faturamento_lojas.head(3)

                            VLR_FINAL
ID_LOJA
Bourbon Shopping SP           1726110
Center Shopping Uberlândia    1668921
Iguatemi Campinas             1762419

In [41]:
display(faturamento_lojas.reset_index())

                             ID_LOJA  VLR_FINAL
0                Bourbon Shopping SP    1726110
1         Center Shopping Uberlândia    1668921
2                  Iguatemi Campinas    1762419
3                 Iguatemi Esplanada    1699681
4                     Norte Shopping    1711968
5       Novo Shopping Ribeirão Preto    1678225
6        Palladium Shopping Curitiba    1721120
7          Parque Dom Pedro Shopping    1631630
8          Passei das Águas Shopping    1649014
9                  Ribeirão Shopping    1707122
10                    Rio Mar Recife    1722766
11        Rio Mar Shopping Fortaleza    1698430
12                 Salvador Shopping    1646739
13                    Shopping Barra    1653103
14        Shopping Center Interlagos    1640486
15  Shopping Center Leste Aricanduva    1682870
16                 Shopping Eldorado    1648111
17               Shopping Ibirapuera    1635060
18       Shopping Iguatemi Fortaleza    1674824
19              Shopping Midway Mall    1590441
20                  Shopping Morumbi    1586444
21                   Shopping Recife    1624879
22                Shopping SP Market    1721763
23          Shopping União de Osasco    1663770
24               Shopping Vila Velha    1731167